

/*Colors*/

$brand-back: rgb(0, 0, 0);
$brand-white: #ffffff;
$brand-grey: #c2c2c2;



/*mixins*/

@mixin vertical {
    display: flex;
    flex-direction: column; 
    align-items:center;
    
}


/*Media Querry*/

$desktop-width: 1200px;
$tablet-width: 600px;
$bigger-width: 1400px;

@mixin bigger {
  @media (min-width: $bigger-width) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-width) {
    @content;
  }
}

@mixin tablet {
    @media (min-width: $tablet-width) {
      @content;
    }
  }