html{
    height: 100%;
}

body {
    min-height: 100%;
    @include vertical;
    justify-content: center;
    font-size: 16px;
    color:$brand-white;
    background-color: $brand-back;
    font-family: 'Open Sans', 'Times New Roman', Times, serif;
 
    @include desktop {
          align-items: flex-start;
    }
}

/*Rules that apply on the header*/
.initial{
   @include vertical;
   justify-content: space-between;
   height: 350px;
   margin:auto;
     
   .nyc{
       width:275px;
    }
    @include tablet {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 300px;
    }
    @include desktop { 
        justify-content: flex-start;
        margin-left:50px;
        padding-left:50px;

        img {
            margin-right:50px;
        } 
    }
}
   
.subMenu{
    
    text-align: center;
    min-width: 150px;
   
    
    
    @include tablet {
        text-align: left;
        
        
    }
}



.menuSelector{
    position: relative;
    .arrow{
        position: absolute;
        right: 22px;
        margin-right: 0;
        height: 100%;

        @include tablet {
            right: 43px;
        }
    }
    
}


.loader{
    position: absolute;
    right: -80px;
    top: -40px;
    display:none;
    width:60px;
    @include desktop{
        right: -120px;
        top: -40px;
    }
}


/*Rules that apply on the container section*/
.container{
    display:none;
    width: 100%;

    a{ 
        width: 100%;

        @include tablet {
            width: 33.3%;
        }
       
        @include desktop { 
            width: 25%;
        }

        @include bigger { 
            width: 20%;
        }
        
    }
  
}


/* top stories structure*/


.fullBody{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
}

.newsBody{
    
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    opacity: 0.7;
    transition: opacity 1s, box-shadow 1s, width 1s;
    
    &:hover{

        cursor: pointer;
        opacity: 1;
        box-shadow: 1px 1px 20px #888888 inset,-1px -1px 20px #888888 inset,1px 1px 20px #888888,-1px -1px 20px #888888;
        z-index: 9999;
        width: 101%;
        .phantom{
            height: 50%;
    
        }
    }
}


.phantom{

    background-color: rgba(0, 0, 0, 0.568);
    position: absolute;
    bottom: 0px;
    width: 100%;
    line-height: 30px;
    padding: 10px;
    height: 30%;
    text-decoration: none;
    color: $brand-white;
    text-align: left;
    transition: height 2s;
    
    p{
        width: 95%
    }
}



/*Rules that apply on the footer section*/   

footer{
   justify-self: center;
   margin-top:20px;
    margin-bottom: 80px;
    color:$brand-grey;

    @include desktop { 
        
          margin-left:80px;
   }
}

    
